.lf-space-tile{  
    width: 100%;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 3px;
}

.lf-space-tile span,
.lf-space-tile i{
    color: #ffffff;
}

.lf-space-tile-default {
    background-color: #157cd6;
    color: #ffffff;
}

.lf-space-tile:hover {
    filter: brightness(85%);
}

.lf-space-tile-title-top{
    margin-left: 15px;
}

.lf-space-tile-title{
    margin-left: 15px;
    margin-top: 25px;
}